@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --light-1: hsl(0, 0%, 98%);
    --light-2: hsl(236, 33%, 92%);
    --medium: hsl(233, 11%, 84%);
    --dark-1: hsl(236, 9%, 61%);
    --dark-2: hsl(235, 19%, 35%);
    --container-color: white;
    --fs: 18px;
    --boxheight: 60px;

    --background: 
}

h1,h2,p, input, label, fieldset {
    margin: 0;
    padding: 0;
}

fieldset, textarea {
    border: none;
    box-shadow: none;
}

body {
    padding:0;
    margin:0;
    font-size: 0;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}

body img {
    width: 100%;
    height: 33vh;
    object-fit: cover;
    box-sizing: border-box;
}

#bottom-page {
    position: relative;

    height: auto;
    min-height: 67vh;
    box-sizing: border-box;

    font-size: var(--fs);
    background-color: var(--light-1);
}

main {
    position: absolute;
    left:0;
    right:0;
    top: -24vh;


    max-width: 720px;
    height: auto;
    margin: auto ;
}

#header {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 1.2em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1em;
    color: white;
    width: 100%;
}

#header img {
    height: 35px;
    width: auto;
}

.input-field {
    width: 100%;
    max-width: 100%;
    height: var(--boxheight);
    box-sizing: border-box;

    border-radius: 3px;
    margin-bottom: 4px;
    background-color: var(--container-color);
    color: var(--dark-2);

    display: flex;
    text-align: left;
    box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.05);

}

textarea {
    overflow: hidden;
    outline: none;
    box-shadow: none;
    resize: none;

    width: calc(100% - 6em - 52px);
    height: 1.4em;
    box-sizing:border-box;
    margin: auto 0;

    border-radius: 3px;
    font-size: 1em;
    background-color: var(--container-color);
    color: var(--dark-2);
}

textarea::placeholder {
    color: var(--dark-1);
}

#new-input {
    width: 100%;
    height: var(--boxheight);
    box-sizing: border-box;
    margin-bottom: 25px;

    border-radius: 3px;
    border: 1px solid var(--light-1);
    background-color: var(--container-color);

    display: flex;
    text-align: left;
    vertical-align: middle;
}

#submit-new-entry-button {
    align-items: center;
    background-color: var(--container-color);
    border: 1px solid  var(--medium);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 50px;
    height: calc(var(--boxheight) - 20px);
    margin: auto 1em;
    color: var(--medium);
}

#submit-new-entry-button:active {
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    box-shadow: none;
    border: none;
    color: white;
}

.checkbox-style {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance: none;

    width: 2em;
    height: 2em;
    border: 1px solid var(--medium);
    border-radius: 50%;
    background-color: transparent;
    margin: auto 1em;
}

.label-style {
    margin: auto 0;
    width: calc(100% - 7em - 20px);
    border: 1px solid red;
}

.trash-button {
    align-items: center;
    background-color: var(--container-color);
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 1ch;
    height: 1em;
    margin: auto 1em;
    color: var(--medium);
}

.checkbox-style:checked {
    background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

}

.checkbox-style:checked:after {
    display: block;
    content: ' ✓';
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

#list-footer {
    display: flex;
    width: 100%;
    height: var(--boxheight);
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 0.8em;
    font-weight: 300;
    color: var(--dark-1);
    background-color: var(--container-color);
    border-radius: 3px;
    box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.05);

}

#list-footer > * {
    display: flex;
    margin: auto 10px;
}

#list-footer > div > p {
    margin: 0 0.5em;
}

#list-footer p:focus, #list-footer p:active, #list-footer p:hover {
    color: hsl(220, 98%, 61%);
    cursor: pointer;
}

#switch-view-mobile {
    display: none;
}

#drag-drop-hint{
    text-align: center;
    margin: 4em 0 2em 0;
    font-size: 0.8em;
    color: var(--dark-1);
}

.invisible{
    display: none;
}

.completed-style {
    color: var(--dark-1) !important;
    text-decoration: line-through !important;
}

.attribution { font-size: 14px; text-align: center; color: var(--dark-2);}
.attribution a { color: hsl(220, 98%, 61%); text-decoration: none; font-weight: 600;}

@media only screen and (max-width: 760px) {

    :root {
        --fs: 16px;
    }

    main {
        max-width: calc(100% - 40px);
        margin: auto 20px;
        width: calc(100% - 40px);
    }

    #switch-view {
        display: none !important;
    }

    #switch-view-mobile {
        display: flex;
        height: 3em;
        background-color: var(--container-color);
        border-radius: 3px;
        margin-top: 1em;
        box-sizing: border-box;
        justify-content: center;
        padding: 0 2em;
        font-size: 0.8em;
        font-weight: 300;
        color: var(--dark-1);
        box-shadow: 0px 11px 24px 6px rgba(0,0,0,0.05);
    }

    #switch-view-mobile p {
        margin: auto 1em;
    }

    #switch-view-mobile p:focus, #switch-view-mobile p:active, #switch-view-mobile p:hover {
        color: hsl(220, 98%, 61%);
        cursor: pointer;
    }
}